<table class="contracts-summary" >
  <tr>
    <td>
      <h3><%= l(:label_total_purchased) %></h3>
      <p class="bigbold"><%= number_to_currency(@total_purchased_dollars) %></p>
      <p><%= l(:label_or) %></p>
      <p class="bigbold">~<%= l_hours @total_purchased_hours %></p>
    </td>
    <td>
      <h3><%= l(:label_total_remaining) %></h3>
      <p class="<%= (@total_remaining_dollars > 0) ? "green" : "red" %> bigbold"><%= number_to_currency(@total_remaining_dollars) %></p>
      <p><%= l(:label_or) %></p>
      <p class="blue bigbold">~<%= l_hours @total_remaining_hours %></p>
    </td>
    <% if User.current.admin?%>
    <td>
        <h3>Adminitrativo</h3>
        <div class="provisionamentos">
            <%= link_to "Provisionamentos", provisionamentos_index_path() %>
        </div>

        <div class="pagamento_estagiario">
            <%= link_to "Gerar Pagamentos estágiarios", "/projects/#{params[:project_id]}/contracts/payment_intern", { confirm: "você tem certeza disso #{User.current.login}?" } %>
        </div>
        <div class="pagamento_administrativo">
            <%= link_to "Gerar pagamento administrativo", "/projects/#{params[:project_id]}/contracts/payment_administrative", {confirm:"você tem certeza disso #{User.current.login}?"} %>
        </div>
    </td>
    <%end%>
  </tr>
</table>
<br />
